.jumbotron {
  background-color: #FFD580;
  color: #ADB8E6
}
.jumbotron h1 {
  margin-bottom: 0;
}
#row1 {
  background-color: #ADD8E6;
  color: #FFA500;
}
.row2 {
  background-color: #FFD580;
  color: #0909FF;
}
footer {
  background-color: #ADD8E6;
  color: #FFA500;
}
